<div class="container pages">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="alert alert-info">
        <h4>Group setting</h4>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<%= render 'form' %>
