<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="alert alert-info">
      <h3>Editing User</h3>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
