<p id="notice"><%= notice %></p>

<div class="container pages">
	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-left">
							<div class="btn-group">
								<h2 class="panel-title">All Photos</h2>
							</div>
						</div>
						<div class="pull-right">
							<div class="btn-group">
                <%= link_to 'New Photo', new_photo_path, class: "btn btn-success btn-filter" %>
							</div>
              <div class="btn-group">
                <%= link_to 'Delete selected', photos_path, class: "btn btn-default" %>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-container">
							<div class="row">
								<table class="table">
									<tbody>
                    <% @photos.each do |photo| %>
										<tr>
                    <% photo.image.each do |img|%>
                      <td><%= link_to image_tag(img.url, class: "photo_list"), photo %></td>
                    <% end %>

                    </tr>

										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
