// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_display{
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
}
.del_photo {
  position: absolute;
  right: 0;
  top: 0;
  float:right;
  margin:5px 5px 0 0;
  z-index: 5;
}
#container {
  overflow:auto;
}
.image {
  width:100px;
  height:100px;
  float:left;
  position:relative;
}
.image:hover a.delete {
  display:block;
}

.photo_form{
  text-align: left;
}
.photo_list{
  width: 100px;
}

#group_gallery {
  float: left;
  width:100vw;
  height: 80vh;
  min-height: 20em;
  padding: 1em;

}
.group_gallery li {
  float: left;
  width: 8vw;
  padding: 0.4em;
  margin: 0 0.4em 0 0.4em;
  text-align: center;
}
.group_gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.group_gallery li a { float: right; }
.group_gallery li a.ui-icon-zoomin { float: left; }
.group_gallery li img { width: 100%; cursor: move; }

#transfer {
  margin: 0;
  float: right;
  width: 100%;
  height: 20vh;
  min-height: 8em;

  bottom: -10vh;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
}
#transfer h4 .ui-icon { float: left; }
#transfer .group_gallery h5 { display: none; }

.imagewrap {
  display:inline-block;
  position:relative;
}
.delete {
  position:absolute;
  top:0;
  right:0;
}
.heart{
  display: block;
}
